@font-face {
    font-display: swap;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/figtree-v6-latin-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/figtree-v6-latin-500.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/figtree-v6-latin-600.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/figtree-v6-latin-700.woff2') format('woff2');
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  ul,
  ol {
    list-style: none;
  }

  img {
    display: flex;
    object-fit: cover;
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    background-color: #000;
    font-family: "Figtree",sans-serif;
  }

  .container {
    width: 384px;
    height: 625px;
    border-radius: 12px;
    background-color: #1F1F1F;
    text-align: center;
}
.container__img {
    padding-top: 40px;
    padding-left: 148px;
}
.container__h1 {
    font-size: 24px;
    line-height: 36px;
}
.container__h3 {
    color: #C4F82A;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 24px;
}
.container__p {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 24px;
}
.container__a--ul {
    display: flex;
    margin: 0px 40px 40px 25px;
    margin-right: 10px;
}

.box1 {
    background-color: #333333;
    border-radius: 8px;
    width: 304px;
    height: 45px;
    margin: 16px;
    padding: 12px 117px;
    font-size: 14px;
    line-height: 21px;
}
.box2 {
    background-color: #333333;
    border-radius: 8px;
    width: 304px;
    height: 45px;
    margin: 16px;
    padding: 12px 12px;
    font-size: 14px;
    line-height: 21px;
}
.box3 {
    background-color: #333333;
    border-radius: 8px;
    width: 304px;
    height: 45px;
    margin: 16px;
    padding: 12px 117px;
    font-size: 14px;
    line-height: 21px;
}
.box4 {
    background-color: #333333;
    border-radius: 8px;
    width: 304px;
    height: 45px;
    margin: 16px;
    padding: 12px 117px;
    font-size: 14px;
    line-height: 21px;
}
.box5 {
    background-color: #333333;
    border-radius: 8px;
    width: 304px;
    height: 45px;
    margin: 16px;
    padding: 12px 117px;
    font-size: 14px;
    line-height: 21px;
}